# Node modules
node_modules/
# Environment variables
.env
**/.DS_Store

# # Logs
# *.log
# npm-debug.log*

# # OS files
# .DS_Store
# Thumbs.db

# # IDE files
# .vscode/
# .idea/

# # Uploaded files (if applicable)
# public/uploads/
# .env
