<% layout("/layouts/boylerplate.ejs") %>
<body>
        <h1>all listing</h1>
    <!-- <form action="/listings/new" method="get">
        <button>create new list</button>
    </form> --> 

    <% for (let listing of alllisting) { %>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <% } %>
</body>
