<% layout("/layouts/boylerplate.ejs") %>
<body>
    <h1>All Listings</h1>

    <% for (let listing of alllisting) { %>
        <li>
            <a href="/listings/<%= listing._id %>"><%= listing.title %></a><br>
            <img src="<%= listing.image %>" alt="<%= listing.title %>" width="200" />
            
        </li>
    <% } %>
</body>
