<% layout("/layouts/boylerplate.ejs") %>

<div class="container mt-5">
  <h3 class="mb-4">Create a New Listing</h3>

  <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data" >
    <div class="mb-3">
<!-- title -->
      <label class="form-label">Title</label>
      <input
        type="text"
        class="form-control"  
        name="listing[title]"
        placeholder="Add a catchy title"
        required
      />
      <div class="valid-feedback">Title looks good!</div>
      <div class="invalid-feedback">Please enter a title.</div>
    </div>
<!-- description -->
    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea
        class="form-control"
        name="listing[description]"
        placeholder="Enter a brief description"
        required
      ></textarea>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter a description.</div>
    </div>
<!-- image -->
    <div class="mb-3">
      <label class="form-label">Upload Image </label>
      <input
      
        type="file"
        class="form-control"
        name="listing[image]"
        placeholder="Enter image URL/Link"
        required
      />
      <div class="valid-feedback">Image URL looks good!</div>
      <div class="invalid-feedback">Please enter a valid URL.</div>
    </div>
<!-- price -->
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        name="listing[price]"
        placeholder="Enter price"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter a valid price.</div>
    </div>
<!-- countery -->
    <div class="mb-3">
      <label class="form-label">Country</label>
      <input
        type="text"
        class="form-control"
        name="listing[country]"
        placeholder="Enter country"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter a country.</div>
    </div>
<!-- location -->
    <div class="mb-3">
      <label class="form-label">Location</label>
      <input
        type="text"
        class="form-control"
        name="listing[location]"
        placeholder="Enter location"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter a location.</div>
    </div>

    <button type="submit" class="btn btn-primary">Add Listing</button>
  </form>
</div>

<!-- Bootstrap validation script -->
<script>
  (() => {
    "use strict";
    const forms = document.querySelectorAll(".needs-validation");
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
